.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

a:visited {
  color: inherit;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #282c34; /* green */
  color: white;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button-link:hover {
  background-color: #282c33; /* dark green */
}

.button-link:active {
  background-color: #282c32; /* darker green */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}